<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="music" class="com.varomir.spring.PopMusic"></bean>
    <bean id="iPod" class="com.varomir.spring.MusicPlayer">
        <constructor-arg name="music" ref="music"></constructor-arg>
    </bean>

</beans>